:root{

    /* Primary Colors */
    --soft-blue: hsl(215, 51%, 70%);
    --cyan: hsl(178, 100%, 50%);

    /* Neutral Colors */
    --main-bg: hsl(217, 54%, 11%);
    --card-bg: hsl(216, 50%, 16%);
    --line: hsl(215, 32%, 27%);
    --white: hsl(0, 0%, 100%);

    /* Typo */
    --bodyFont: 'Outfit', sans-serif;
}

*, *:before, *:after{
    box-sizing: inherit;
}

html{
    font-size: 62.5%;
    box-sizing: border-box;
}

img {
    max-width: 100%;
    display: block;
}

body{
    background-color: var(--main-bg);
    font-family: var(--bodyFont);
    font-size: 1.8rem;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container{
    min-width: 37.5rem;
    max-width: 140rem;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.content{
    background-color: var(--card-bg);
    max-width: 32.5rem;
    border-radius: 1.5rem;
    padding: 2.4rem;
}

@media (min-width: 768px) {
    .content{
        max-width: 35rem;
        padding: 2.4rem 2.4rem 3.2rem 2.4rem;
    }
}

.nft-image{
    position: relative;
}

.nft-image img{
    border-radius: .7rem;
    margin-bottom: 2.4rem;
}

.overlay{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: rgba(0, 255, 246, .35);
    border-radius: .7rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nft-image:hover .overlay{
    opacity: 1;
}

.nft-title{
    margin: 0 0 1.2rem 0;
    color: var(--white);
    font-size: 2.2rem;
    font-weight: 600;
    line-height: 2.8rem;
}

@media (min-width: 768px) {
    .nft-title{
        margin-bottom: 1.6rem;
    }
}

.nft-title:hover{
    color: var(--cyan);
    cursor: pointer;
}

.nft-description{
    margin: 0;
    color: var(--soft-blue);
    font-weight: 300;
    line-height: 2.6rem;
    letter-spacing: 0.002em;
}

.nft-price{
    display: flex;
    justify-content: space-between;
    margin-top: 1.6rem;
}

@media (min-width: 768px) {
    .nft-price{
        margin-top: 2.6rem;
    }
}

.nft-price p{
    margin: 0;
}

.nft-crypto{
    color: var(--cyan);
    font-size: 1.6rem;
    font-weight: 400;
    letter-spacing: -0.01em;
    padding-left: 1.7rem;
    position: relative;
}

@media (min-width: 768px) {
    .nft-crypto{
        font-size: 16px;
        letter-spacing: 0.03em;
    }
}

.nft-crypto::before{
    content: url(./images/icon-ethereum.svg);
    position: absolute;
    top: 0;
    left: 0px;
}

.nft-time{
    color: var(--soft-blue);
    font-size: 1.6rem;
    font-weight: 400;
    letter-spacing: -0.01em;
    position: relative;
}

@media (min-width: 768px) {
    .nft-time{
        letter-spacing: 0.01em;
    }
}

.nft-time::before{
    content: url(./images/icon-clock.svg);
    position: absolute;
    top: 0;
    left: -24px;
}

hr{
    margin: 1.6rem 0;
    border: none;
    border-top: 1px solid var(--line);
}

@media (min-width: 768px) {
    hr{
        margin: 2.4rem 0 1.5rem 0;
    }
}

.nft-creator{
    display: flex;
    align-items: center;

}

.avatar{
    width: 33px;
    border-radius: 50%;
    border: 1px solid var(--white);
}

.avatar img{
    margin: 0;
}

.name p{
    margin: 0;
    color: var(--soft-blue);
    font-size: 1.6rem;
    font-weight: 400;
    letter-spacing: -0.03em;
    padding-left: 1.5rem;
}

.name p span{
    color: var(--white);
    letter-spacing: 0.0em;
}

@media (min-width: 768px) {
    .name p{
        letter-spacing: 0.01em;
    }

    .name p span{
        letter-spacing: 0.01em;
    }
}

.name p span:hover{
    color: var(--cyan);
    cursor: pointer;
}

.attribution{
    font-size: 11px;
    text-align: center;
}

.attribution a{
    color: hsl(228, 45%, 44%);
}